.fig {text-align: center;}
.block-list-item {margin-bottom: 40px;}
/* КОММЕНТАРИИ */
.comments {margin: 20px 0 20px 0;}
.comments h3 {
    text-align: left;
    font-weight: normal;
    text-transform: none;
    border-bottom: none;
}
/* Форма подачи комментария */
.comments .form-group .form-control {
    font-size: 16px;
    line-height: 1.56;
    color: #545454;
}
.form-control:focus {
    border-color: rgba(70,182,144,0.5);
    outline: none;
    -webkit-box-shadow: 0 0 4px 0 rgba(70,182,144,1);
    -moz-box-shadow: 0 0 4px 0 rgba(70,182,144,1);
    box-shadow: 0 0 4px 0 rgba(70,182,144,1);
}
.comments .form-group .footer-comment {
    text-align: right;
    margin-top: 20px;
}
/* Автарка комментария */
.comments .img-thumbnail {
    border: none;
    margin: 0;
    width: 50px;
}
/* Имя автора коммента */
.comments .media-body .author {
    display: block;
    font-size: 18px;
    color: #545454;
    font-weight: 600;
}
/* Статистика автора */
.comments .media-body .metadata {
    display: block;
    color: #545454;
    font-size: 14px;
}
.comments .post_statistics:first-child {margin-left: 0;}
.comments .post_statistics a {color: #545454;}
.comments .post_statistics a:hover {color:#46b690;}
/* Ответить*/
.comments .publish {
    color: #fff;
    outline: none;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    border:none;
    background: #46b690;
    font-weight: 600;
    padding: 10px 15px
}
.comments .publish:hover {background: #53bd99;}
.comments .reply {color: #545454;}
.comments .reply:hover{color:#46b690;}
/*Должны авторизоваться*/
.not-authorized {
    color: #545454;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
    background: rgba(219, 160, 160, 0.77);
    padding: 20px 10px 20px 10px;
    -moz-border-radius: 15px!important;
    -webkit-border-radius: 15px!important;
    -o-border-radius: 15px!important;
    border-radius: 15px!important;
    border: 2px solid #e09696;
}
/*Поле ввода комментария*/
.block-comments-hide {display: none;}