article, aside, footer, header, nav, section {display: block;}
html{display: block;}
html, body {height: 100%;}
*, :before, :after {box-sizing: inherit;}
body{
	font:14px Arial,Helvetica,sans-serif;
	color: #333;
	margin: 0;
}
a, a:hover,a:link, a:visited{text-decoration:none !important;}
textarea {resize: none;}
#wrapper{
	min-height:100%;
	position: relative;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	background: #fff;
}
.container-fluid-content {
	padding: 0;
	box-sizing: border-box;
}
/*ЗАГОЛОВОК*/
.row-wrapper-header {
	padding: 0 20px 0 20px;
	box-sizing: border-box;
	margin: 0 auto;
	position: static;
	z-index: 100;
	background: #4c6989;
}
.header {
	max-width: 1100px;
	margin: 0 auto;
	height: 60px;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.header .header-main-left {
	padding-left: 0;
	align-items: center;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0;
	flex: 1 1 0;
}
.logo {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	color: #fff;
	text-transform: uppercase;
}
.st-button {
	border: none;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	background: #46b690;
	font-weight: 600;
	padding: 10px 15px;
}
/*ПЕРЕСТИЛИЗАЦИЯ КНОПОК В HEADER*/
.button-header {
	border: none;
	font-weight: 600;
	padding: 21px 15px;
	display: inline-block;
}
.header .logo:hover{background:#415A76;}
.header a {
	color: #fff;
	height: 100%;
}
.search-form {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	box-sizing: border-box;
	margin-left: auto;
	width: 36px;
	height: 38px;
	white-space: nowrap;
}
.search-form input[type=text] {
	width: 0;
	border: none;
	outline: none;
	font-size: 16px;
	background: #415A76 url(../img/source/searchicon.png) 10px 7px no-repeat;
	padding: 7px 20px 7px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	color: #fff;
	cursor: default;
}
.search-form input[type=text]:focus {
	width: 300px;
	border-top: 0;
	border-right:0;
	border-left:0;
}
.header-main-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}
/*ТЕЛО СТРАНИЦЫ*/
.row-wrapper-body {
	margin: 0 auto;
	padding: 20px 20px 40px 20px;
}
.column {
	position: relative;
	clear: left;
	overflow: hidden;
	margin: 0 auto;
	max-width: 1100px;
}
.column:after {
	clear: both;
	content: "";
}
/* СЛАЙДЕР */
.slider, .slider-float {margin: 20px auto;}
.slider .slick_block {height: 250px; margin: 0 20px 0 20px; position: relative;}
.slider-float .slick_block {height: 150px; margin: 0 20px 0 20px; position: relative;}
.slider img, .slider-float img  {width: 100%; height: 100%;}
.slider_text {
	display: block;
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	color: #fff;
	text-align: center;
}
.slider_text h3 {margin-top: 10px !important; margin-bottom: 0 !important;}
.slider-float .slider_text h3 {font-size: 18px !important;}
.slider-float .slider_text p {font-size: 10px !important;}
.slick-prev, .slick-next {z-index: 1001 !important;}
.slick-prev:before , .slick-next:before {font-size: 32px !important;color: rgba(70,182,172, 0.7) !important;}
.slick-prev {left: 20px !important;}
.slick-next {right: 30px !important;}
/*ОСНОВНОЙ БЛОК */
.col-3 {
	float: left;
	margin-right: -300px;
	width: 300px;
}
.col-9 {
	float: left;
	box-sizing: border-box;
	padding-left: 320px;
	width: 100%;
}
/* ЛЕВАЯ ЧАСТЬ ОСНОВНОГО БЛОКА */
.category-block {
	position: relative;
	border: 1px solid #46b690;
	margin-top: 40px;
	margin-bottom: 20px;

}
/*.fixed-category-block {
	top: 20px;
	position: fixed;
}*/
.category-block-header {
	margin: 0 20px;
	border-bottom: 1px solid #46b690;
}
.category-block-header span {
	display: inline-block;
	margin: 0;
	padding: 15px 0 15px 5px;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #333;
}
.category-block-content {padding: 0 20px;}
.tab {
	box-sizing: border-box;
	margin: 0;
	padding: 0 0 5px 0;
	list-style: none;
}
.tab-menu {
	border-bottom: 1px solid #46b690;
}
.tab-menu:last-child {
	border: none;
}
.tab-link {
	text-decoration: none;
	color: #333;
	overflow: hidden;
	display: block;
	padding: 10px 5px 10px 5px;
}
.tab-link:hover {
	color: #333;
	background: #daf0e9;
}
.tab-logo {
	width: 75%;
	float: left;
}
.tab-count {
	float: right;
	font-style: normal;
	font-weight: normal;
	color: #46b690;
}
/* ПРАВАЯ ЧАСТЬ ОСНОВНОГО БЛОКА */
.body-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 90px;
	border-bottom:2px solid #4c6989;
}
h2.namе-group{
	margin:20px 0 0 0;
	text-transform:uppercase;
	color:#4c6989;
	padding:5px 10px;
	font-size: 30px;
}
.block-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.block-list-item {
	position: relative;
	box-sizing: border-box;
	margin-top: 15px;
	padding-top: 10px;
	transition: box-shadow 150ms linear;
	box-shadow: 0 1px 3px rgba(0,0,0,.28);
}
.block-list-item:hover {
	-webkit-box-shadow: 0 0 10px 0 rgba(48,48,48,0.61);
	-moz-box-shadow: 0 0 10px 0 rgba(48,48,48,0.61);
	box-shadow: 0 0 10px 0 rgba(48,48,48,0.61);
}
.block-list-article {
	padding-left:15px;
	padding-right:15px;
}
.block-list-item-post {padding:15px;}
.block h3 {
	border-bottom: 2px solid #f0f0f0;
	margin-top: 0; padding:0 0 10px 0;
	text-align: center;
	font-weight:bold;
	text-transform: uppercase;
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.block-review-header {color: #545454;}
.block-review-header:hover {color: inherit;}
.inline-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin: 0;
	padding: 0;
	list-style: none;
}
.block-list-item-questions {margin-top:15px;}
.crumbs {
	background-color: #f5f5f5;
	padding: 10px 0 10px 0;
}
.inline-block-item {margin: 8px 8px 0 0;}
.inline-block-item:first-child {padding-left: .5em;}
.inline-block-breadcrumb {
	margin: 0 .5em 0 0;
	color: #545454;
	font-size: 13px;
}
.breadcrumb-link {
	font-size: 13px;
	color: #545454;
	line-height: 1.5;
}
.breadcrumb-link:hover {color: #46b690;}
.block-review-body-post {padding-top: 20px;}
.body-post {
	overflow: hidden;
	font-size: 16px;
	line-height: 1.56;
}
.body-post-text {
	margin-right: -5px;
	padding-right: 5px;
	color: #545454;
}
.media-text {
	text-indent: 25px;
	line-height: 1.5em;
	margin-bottom: 0.25rem;
	font-size: 16px;
}
.body-post-text img {
	vertical-align: middle;
}
.body-post-text img[align=left] {
	margin-top: 5px;
	margin-right: 30px;
	margin-bottom: 5px;
}
/* ЧИТАТЬ ДАЛЕЕ */
.read_more {margin: 20px 0 10px 0; text-align: right; font-size: 16px;border-bottom: 2px solid #f0f0f0;}
.read_more a{color: #545454;}
.read_more a:hover {color:#46b690;}
/* ПОЛОСА СТАТИСТИКИ */
.statistics	{
	background: #f5f5f5;
	text-align: right;
	padding: 10px 0 10px 0;
}
.nolink {pointer-events: none;}
.post_statistics {
	margin: 0 10px 0 10px;
	display: inline-block;
}
.statistics a {color: #545454;}
.statistics a:hover {color:#46b690;}
/*БОЛЬШЕ ПОСТОВ*/
.more-post {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center
}
.more-post-button {
	margin-top: 15px;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	cursor: pointer;
}
.more-post-button svg {
	width: 200px;
	height: 50px;
	opacity: 0.2;
}
.more-post-button:hover { background: #F4F4F4;}
.more-post-button:active { background: #F4F4F4;}
    /*БЛОК ВОПРОСОВ*/
.inline-block-questions {
	color: #545454;
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
	margin: 10px 10px 10px 10px;
	padding: 5px 10px 5px 10px;
	border: 2px solid #000;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}
.questions-link {color: #545454;}
.questions-link:hover {color: #46b690;}
.questions-link:active {color: #545454;}
/*НИЖНИЙ СЛАЙДЕР*/
.col-slider {margin-top: 40px;margin-bottom: 20px;}
/*ФУТТЕР*/
.row-wrapper-footer {
	background: #4c6989;
	width: 100%;
	border-top:1px solid rgba(0,0,0,0.04);
	font-size:11px;
	color:#fff;
	text-align:center;
	margin: 0;
	height: 40px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.footer-block {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center
}
.footer-block a {
	color:#fff;
	font-weight: 600;
	padding: 13px 5px;
}
.footer-block a:hover {background:#415A76;}
/*КНОПКА НАВЕРХ*/
.scrollup{
	width:40px;
	height:40px;
	opacity:0.3;
	position:fixed;
	bottom:250px;
	left:35px;
	display:none;
	text-indent:-9999px;
	background: url(../img/icon_top.png) no-repeat;
}
.like-active{color: #46b690!important;}
.info-active{color: #46b690!important;}
/*ПЕРЕСТИЛИЗАЦИЯ КНОПОК В HEADER*/
.button-header {
	border: none;
	font-weight: 600;
	padding: 21px 15px;
	display: inline-block;
}