* {outline: none;}
.clearfix {clear: both;}
.col-pad {margin-top: 20px;}
/* ВКЛАДКИ*/
/*.row-tabs {
    clear: left;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1100px;
}*/
.col-tabs {
    float: left;
    width: 100%;
    padding-left: 320px;
}
.tabs {
    padding: 0 5px 0 5px;
    background: rgb(70, 179, 148);
    background: -webkit-linear-gradient(10deg, rgb(70, 179, 148) 0%, rgb(74, 107, 138) 93%);
    background: -o-linear-gradient(10deg, rgb(70, 179, 148) 0%, rgb(74, 107, 138) 93%);
    background: linear-gradient(100deg, rgb(70, 179, 148) 0%, rgb(74, 107, 138) 93%);
    display: flex;
    justify-content: space-between;
}
.tab-content-hidden {
    display: none;
    background: #fff;
}
.tab-content-active{
    display: block;
}
.link-ava > input {
    display: none;
    position: absolute;
}
.link-ava > label {
    font-size:14px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #fff;
}
/*.link-ava > label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}*/
.link-ava > label:hover {color: #46b690;  cursor: pointer;}
.link-ava > input:checked + label {
}
/* ЛЕВАЯ ЧАСТЬ СТРАНИЦЫ ПРОФИЛЯ */
.lf-profile {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    background: #4c6989;
    -moz-border-radius-topright: 90px;
    -webkit-border-top-right-radius: 90px;
    border-top-right-radius: 90px;
    -moz-border-radius-bottomleft: 90px;
    -webkit-border-bottom-left-radius: 90px;
    border-bottom-left-radius: 90px;
}
.lf-profile .center {text-align: center;}
/* АВА В КРУГЕ*/
.photo-ava a {position: relative;}
.photo-ava .fa {
    position: absolute;
    bottom: 0;
    color: #fff;
}
.ava-block .photo-user {
    margin-top: 40px;
    overflow: hidden;
    width: 160px;
    height: 160px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;
}
.ava-block .photo-user:hover {
    opacity: 0.3;
}
.link-ava {margin-left: 35px; margin-right: 35px; padding: 25px 0 25px 0; border-top: 2px dashed #f0f0f0;}
.link-ava:nth-child(2) {border-top: none;}
.link-ava a {color: #fff;font-size: 14px;letter-spacing: 1px;}
.link-ava a:hover {color: #46b690;}
/* ПРАВАЯ ЧАСТЬ СТРАНИЦЫ ПРОФИЛЯ 1 ВКЛАДКА */
.profile-prompt {margin: 20px 0 0 0;}
.profile-input{margin: 0 0 40px 0;}
.rg-profile {
    background: rgb(70, 179, 148);
    background: -webkit-linear-gradient(10deg, rgb(70, 179, 148) 0%, rgb(74, 107, 138) 93%);
    background: -o-linear-gradient(10deg, rgb(70, 179, 148) 0%, rgb(74, 107, 138) 93%);
    background: linear-gradient(100deg, rgb(70, 179, 148) 0%, rgb(74, 107, 138) 93%);
}
.uppercase {text-transform: uppercase;}
/* ПОДСКАЗКА */
.prompt {height: 100px;}
.menu-main {
    list-style: none;
    margin: 50px 0 50px 5px;
    padding: 5px 0 5px;
    border: 1px solid #fff;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
}
/*.menu-main li:after, .menu-main li:before  {
    content: "|";
    color: #fff;
    vertical-align:top;
}
.menu-main li:last-child:after {content: none;}*/
.menu-main li {margin: 20px 0 20px 50px;}
.menu-main a {
    margin-bottom: 50px;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    font-size: 14px;
    transition: color .2s;
    outline: none;
}
.menu-main a, .menu-main a:visited {color: #fff;}
.menu-main a.current, .menu-main a:hover {color: #4c6989;}
.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #4c6989;
    transition: .8s;
}
.menu-main a:hover:before, .menu-main a.current:before {left: 0;}
.menu-main a:hover:after, .menu-main a.current:after {right: 0;}
@media (max-width: 550px) {
    .menu-main {padding-top: 0;}
    .menu-main li {display: block;}
    .menu-main li:after {content: none;}
    .menu-main a {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}
/* ОПИСАНИЕ РАЗДЕЛА*/
.category-profile form {
    padding: 50px 5px 30px 0;
}
.form-group {margin-top: 30px;}
.form-group:first-child {margin-top: 0;}
.form-group:last-child {margin-bottom: 0;}
/* flash-сообщения */
.cat-first {position: relative;}
.updated {
    display: none;
    top: 7px;
    left: 22px;
    position: absolute;
    background: #def0d8;
    color: #48725c;
    padding: 10px 0 10px 10px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
}
.updated p {margin: 0;display: inline-block;}
.updated span {
    padding: 10px 10px 10px 5px;
    cursor: pointer;
    opacity:0.5;
    -moz-opacity:0.5;
    filter:alpha(opacity=50);
}
/* Стилизация инпутов */
.form-group input,.form-group textarea {
    background: none;
    color: #fff;
    letter-spacing: 1px;
    border: 1px solid #fff;
    padding: 7px 8px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    outline: none;
}
.skill .skill-input {margin-top: 30px}
.skill .skill-input:first-child {margin-top: 0;}
.form-group input::-webkit-input-placeholder {color:#fff;}
.form-group input::-moz-placeholder          {color:#fff;}
.form-group input:-ms-input-placeholder      {color:#fff;}
.form-group input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.form-group input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.form-group input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.form-group input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.form-group input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.form-group input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.form-group input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.form-group input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
.form-group textarea::-webkit-input-placeholder {color:#fff;}
.form-group textarea::-moz-placeholder          {color:#fff;}
.form-group textarea:-ms-input-placeholder      {color:#fff;}
.form-group textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.form-group textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.form-group textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.form-group textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.form-group textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.form-group textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.form-group textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.form-group textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
/* Стилизация радиобаттонов */
.chek-button {margin: 30px 0 30px 0;}
.radio-inline {color: #fff;}
.radio-inline input[type=radio] {background: none;}
/* Стилизация селекта */
.select2 {width: 100%!important;}
.select2-container--default .select2-selection--single {
    background: none!important;
    border: 1px solid #fff!important;
    -moz-border-radius: 15px 15px 15px 15px!important;
    -webkit-border-radius: 15px 15px 15px 15px!important;
    -o-border-radius: 15px 15px 15px 15px!important;
    border-radius: 15px 15px 15px 15px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {color: #fff!important;}
.select2-container--open .select2-dropdown--below {
    letter-spacing: 1px!important;
    border: 1px solid #46b690!important;
    -moz-border-radius: 15px 15px 15px 15px!important;
    -webkit-border-radius: 15px 15px 15px 15px!important;
    -o-border-radius: 15px 15px 15px 15px!important;
    border-radius: 15px 15px 15px 15px!important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    padding-left: 10px;
    border: 1px solid #46b690!important;
    -moz-border-radius: 15px 15px 15px 15px!important;
    -webkit-border-radius: 15px 15px 15px 15px!important;
    -o-border-radius: 15px 15px 15px 15px!important;
    border-radius: 15px 15px 15px 15px!important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #46b690!important;
    -moz-border-radius: 15px 15px 15px 15px!important;
    -webkit-border-radius: 15px 15px 15px 15px!important;
    -o-border-radius: 15px 15px 15px 15px!important;
    border-radius: 15px 15px 15px 15px!important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background: #46b690!important;
    -moz-border-radius: 15px 15px 15px 15px!important;
    -webkit-border-radius: 15px 15px 15px 15px!important;
    -o-border-radius: 15px 15px 15px 15px!important;
    border-radius: 15px 15px 15px 15px!important;
}
.select2-results__option {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
}
/* Стилизация кнопки */
.category-profile .button {text-align: right;}
.category-profile .btn {margin-top: 30px;}
.minus {padding: 6px 14px;}
.category-profile .btn-primary, .modal-category .btn-primary {
    background: #4c6989!important;
    border-color: #374c63!important;
    outline: none!important;
    -moz-border-radius: 15px 15px 15px 15px!important;
    -webkit-border-radius: 15px 15px 15px 15px!important;
    -o-border-radius: 15px 15px 15px 15px!important;
    border-radius: 15px 15px 15px 15px!important;
}
.category-profile .btn-primary:hover {background: #5a7ca2!important;outline: none!important;}
.category-profile .btn-primary:active {background: #537396!important;outline: none!important;}
.modal-category .btn-primary:hover {background: #5a7ca2!important;outline: none!important;}
.modal-category .btn-primary:active {background: #537396!important;outline: none!important;}
/* Стилизация модального окна изменить пароль */
.modal-category {
    text-align: center;
    background: rgb(70, 179, 148);
    background: -webkit-linear-gradient(10deg, rgb(70, 179, 148) 0%, rgb(74, 107, 138) 93%);
    background: -o-linear-gradient(10deg, rgb(70, 179, 148) 0%, rgb(74, 107, 138) 93%);
    background: linear-gradient(100deg, rgb(70, 179, 148) 0%, rgb(74, 107, 138) 93%);
    border: none;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
}
.modal-header {color: #fff;}
.modal-header h2 {margin: 0;}
/* ПРАВАЯ ЧАСТЬ СТРАНИЦЫ ПРОФИЛЯ 2 ВКЛАДКА */
.profile-records {margin: 20px 0 40px 0;}
.body-list {margin: 0 5px 0 0; padding: 50px 0 50px 0;}
.block-list-item {
    margin-top: 0;
    padding-bottom: 10px;
    transition: none;
    box-shadow: none;
    border: 1px solid #fff;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
}
.block-list-item:hover {box-shadow: none;}
.block-review-header {color: #fff;}
.block-review-header:hover {color: #fff;}
.block-review-header:visited {color: #fff;}
.crumbs {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.breadcrumb-link {color: #000;}
.body-post-text {color: #000;font-size: 14px;}
.media-text {font-size: 14px;}
.read_more a {color: #fff;font-size: 14px;}
.statistics {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
}
.statistics a {color: #000;font-size: 14px;}
/* ПРАВАЯ ЧАСТЬ СТРАНИЦЫ ПРОФИЛЯ 4 ВКЛАДКА */
.edit {text-align: right;}
.edit .btn {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* ПРАВАЯ ЧАСТЬ СТРАНИЦЫ ПРОФИЛЯ 5 ВКЛАДКА */
.comments {margin: 20px 0 20px 0;}
.comments .img-thumbnail {
    border: none;
    margin: 0;
    width: 50px;
}
.author {margin-left: 10px;margin-bottom: 5px;color: #fff;font-weight: normal;}
.metadata {color: #000;}
.post_statistics a {color: #000;}
.post_statistics a:hover {color: #fff;}
.media-text {color: #fff;}
/* ПРАВАЯ ЧАСТЬ СТРАНИЦЫ ПРОФИЛЯ 6 ВКЛАДКА */
.cat-sixth .read_more {border-bottom: none; text-transform: none; margin-bottom: 0;}